h2,
strong {
  font-weight: bold;
}

.detail-section {
  background-color: white;
  position: absolute;
  width: 500px;
  top: 100vh;
  left: 0%;
  transition: 0.5s ease;
  font-size: 1.1rem;
}

.detail-section.open {
  top: 17vh;
  bottom: 0;
  z-index: 200;
}

.detail-section > #close {
  border: solid 2px lightblue;
  background-color: #f5fcff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-section > div:not(:first-of-type) {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#campingImage img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10% 10% 0 0;
}

.campingSiteData {
  height: calc(83vh - 300px);
  overflow-y: auto;
}

.campingSiteData #address {
  font-size: 1.2rem;
}

.campingSiteData ul {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.campingSiteData li {
  display: flex;
  gap: 1rem;
  line-height: 1.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
}

.campingSiteData li strong {
  text-wrap: nowrap;
}

.campingSiteData h2 {
  font-size: 2rem;
}

.campingSiteData #facilities {
  /* line-height: 1.5rem; */
  align-self: flex-start;
}

.campingSiteData #intro {
  padding-top: 20px;
  display: none;
}

.campingSiteData #intro strong {
  font-size: 1.4rem;
}

.campingSiteData #intro p {
  padding: 1rem 0;
  line-height: 1.6rem;
}
